@media screen and (max-width: 1980px) and (min-width: 800px){
    /* Desktop: 1440px */

body {
        background-color:#EDF2F8;
        margin:17% 20%;
        padding: 0 0;
        font-size: 16.9px;
        justify-content: center;
        align-content: center;
    }

    .mainHeader {
        background-color: white;
        border-radius: 10px;
    }

    .main {
        display: flex;
    }
    
    #headerBackground {
        background-image: url(images/drawers.jpg);
        background-position: left;
        background-size: cover;
        /* height: 219px; */
        flex-basis: 34%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }


    .headerDesc {
        font-family: 'Manrope', sans-serif;
        flex-basis: 66%;
        padding: 5%;
        position: relative;
    }

    .headerDesc p:nth-child(1) {
        font-weight: 500;
        color: hsl(217, 19%, 35%);
    }

    .headerDesc p:nth-child(2) {
        font-weight: 700;
        color: hsl(214, 17%, 51%);
    }

    .flex {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }

    .icon > img{
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }

    .personDetails {
       margin: auto 0;
       /* padding-left: 20px; */
    }

    .personDetails > h5 {
        margin: auto 0;
        font-size: 15px;
        font-family: 'Manrope', sans-serif;
     }

     .personDetails > h5:nth-child(1) {
        font-weight: 500;
        color: hsl(217, 19%, 35%);

     }

     .personDetails > h5:nth-child(2) {
        font-weight: 700;
        color: hsl(214, 17%, 51%);
     }

     .share {
        border-radius: 100%;
        background-color: hsl(210, 46%, 95%);
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto 0;
        margin-left:55%;
    }

    .share > img {
        height: 20px;
        width: 20px;
    }

    .attribution{
        display: none;
    }

    .social-media{
        background-color: hsl(217, 19%, 35%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;
        height: 21%;
        position: absolute;
        top: 40%;
        left: 68%;
        /* margin: -6% 0;
        padding: 4% 0; */
        border-radius: 10px;
        /* display: none; */
    }
    

div.headerDesc > div.social-media > p {

        font-weight: 700;
        color: hsl(214, 17%, 51%);
        /* color: yellow; */
        /* margin-right: 25%; */
        font-family: 'Manrope', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .5em;
        font-size: 1rem;
        margin-right: 10%;
    }

    .social-media > img{
        height: 20px;
        width: 20px;
        margin: 2.4%;
    }

    .social-media > :last-child {
        margin-left: 5%;
        display: none;
    }
  
}